$background-color: #CFD2CF;
$color-cv: #377D71;
$font-color: #FBD6D2;
$font-color-shadow: #FBA1A1;

$text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
$box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);

$content-width: 1240px;
$block-height: 100px;

$font-style-menu: 'Norican', cursive;
$font-style-name: 'Satisfy', cursive;
$font-style-text: 'DM Serif Display', serif;
$font-style-code: 'Syne Mono', monospace;